body{
	background-color: black
}
h1{
	color: yellow;
	margin-left: 25%;
}
label{
	color: yellow;
}
table{
	margin-left: 35%;
	margin-top: 5%;
}
button{
	width: 100px;
	border: 2px solid black;
	border-radius: 26px;
	background-color: yellow;
	padding: 15px 32px;
	margin-top: 10px;
	color: black;
	text-align: center;
	margin-left: 1%;
}
div{
	margin-left: 37%;
	margin-top: 1%;
}
button:hover{
	background-color: black;
	color: yellow;
	border-color: yellow;
}